<div class="container mt-2">
    <div  class="spinner-boarder text-primary" *ngIf="isLoading">
        <span>Loading...</span>
    </div>
   <div *ngIf="!isLoading">
    <div>
        <select name="" id="" [(ngModel)]="key">

            <option value="marka">Marka</option>
            <option value="model">Model</option>
            <option value="color">Color</option>
            <option value="year">Year</option>
        </select>
    </div>
        <app-car *ngFor="let car of sortedCars(key)" [car]="car"></app-car>
    </div>

</div>
