<div class="container">

    <div class="spinner-boarder text-primary" *ngIf="isLoading" >
        <span>Loading...</span>
    </div>

    <div *ngIf="!isLoading" class="card mb-3" [ngStyle]="{cursor:'pointer'}">
            <div class="row g-0">
               <div class="col-4">
                 <img [src]="car.pictureUrl" src="" alt="" style="width: 100%" >
               </div>
               <div class="col-6">
                 <div class="card-body">
                     <h5 class="car-tiile">{{car.marka}} {{car.model}}</h5>
                     <button class="btn btn-info text-white" (click)="getDetail()"> Подробнее</button>
                 </div>
               </div>
            </div>

    </div>


</div>
