<div class="container">

    <div class="spinner-boarder text-primary" *ngIf="isLoading" >
        <span>Loading...</span>
    </div>

    <div *ngIf="!isLoading" class="card mb-3" [ngStyle]="{cursor:'pointer'}">
            <div class="row g-0">
               <div class="col-4">
                 <img [src]="car.pictureUrl" src="" alt="" style="width: 100%" >
               </div>
               <div class="col-6">
                 <div class="card-body">
                     <h5 class="car-tiile">Марка = {{car.marka}}</h5>
                     <p class="card-text">Модель - {{car.model}}</p>
                     <p class="card-text">Цвет - {{car.color}}</p>
                     <p class="card-text">Год - {{car.year}}</p>
                    
                 </div>
               </div>
            </div>

    </div>


</div>
