<h2>Получить автомобиль по id</h2>
<input type="text" [(ngModel)]="id" (change)="getCar()">
<app-car [car]="car" *ngIf="id"></app-car>


<form action="" (submit)="editCar()">
    <div class="form-control">
        <label for="">Введите марку</label>
        <input class="form-control" type="text" [(ngModel)]="car.marka" name="marka">
    </div>
    <div class="form-control">
        <label for="">Введите модель</label>
        <input class="form-control" type="text" [(ngModel)]="car.model" name="model">
    </div>
    <div class="form-control">
        <label for="">Введите цвет</label>
        <input class="form-control" type="text" [(ngModel)]="car.color" name="color">
    </div>
    <div class="form-control">
        <label for="">Введите год</label>
        <input class="form-control" type="number" [(ngModel)]="car.year" name="year">
    </div>
    <button  class="btn btn-success my-2" type="submit">Добавить</button>
</form>
