<div class="card mb-3">
    <div class="row g-0">
        <div class="col-md-4">
          <figure>
            <img src="https://upload.wikimedia.org/wikipedia/commons/8/81/Volkswagen_Polo_Sedan_2.JPG" alt="" style="max-width: 100%;" />
          </figure>
        </div>
        <div class="col-md-4">
          <div class="card-body">
            <h5 class="card-title">{{ car.marka }}</h5>
            <p class="card-text">Модель - {{ car.model }}</p>
            <p class="card-text">Цвет: {{ car.color }}</p>
            <p class="card-text">Год выпуска - {{ car.year }}</p>
            
          </div>
        </div>
        <div class="col-md-4" style="display: flex; flex-direction: column;">
            <button class="btn btn-success my-3" (click)="editCar()">Редактировать</button>
            <button class="btn btn-danger my-3" (click)="deleteCar()">Удалить</button>
        </div>
    </div>
   
</div>
