.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  font-weight: 500;
  @media (max-width: 900px) {
    gap: 25px;
  }
  @media (max-width: 800px) {
    gap: 15px;
  }
  @media (max-width: 768px) {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    background: linear-gradient(var(--color4) 0%, var(--color3) 100%),
      var(--color4);
    background-image: url(./assets/bg.jpg);
    background-position: center 0;
    background-repeat: repeat, no-repeat;
    background-size: cover;
    position: absolute;
    top: -30px;
    left: -768px;
    z-index: 3;
    transition: left 1s ease-in-out;
  }
  button {
    background-color: transparent;
  }
  &-link {
    font-size: 20px;
    color: var(--color1);
    line-height: 25px;
    position: relative;
    cursor: pointer;
  }
  &-link:hover {
    color: var(--color5);
  }
  &-link::after {
    display: block;
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 0;
    height: 3px;
    background-color: var(--color5);
    content: '';
    transition: width 0.5s;
  }
  &-link:hover::after {
    width: 100%;
    color: var(--color5);
  }
  &-icon {
    width: 25px;
    height: 25px;
  }
}

.open {
  left: 0;
}
