:root {
  --color1: #474747;
  --color2: #ff938c;
  --color3: #ffffff;
  --color4: #4d8fc3;
  --color5: #ffb4af;
}
* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: inherit;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: var(--color1);
}
.bodyNoScroll {
  overflow: hidden;
}
#root {
  max-width: 1440px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: var(--color3);
}
