<h1 [ngClass]="'text-center'">{{ title }}</h1>

<div [style.width]="'20vw'" [style.height]="'20vh'" [ngClass]="'bordered'"></div>
<div [style.width]="'20vw'" [style.height]="'20vh'" [ngClass]="{bordered:false}"></div>
<div [style.width]="'20vw'" [style.height]="'20vh'" [ngClass]="{bordered:true}"></div>
<input type="checkbox" (click)="checkBorder()">
<div [style.width]="'20vw'" [style.height]="'20vh'" [ngClass]="{bordered:isBorder,blue:true}"></div>
<div [style.width]="'20vw'" [style.height]="'20vh'" [ngClass]="classlist"></div>


<p [ngStyle]="{color:'red', backgroundColor:'yellow'}">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas nostrum quod debitis iste perferendis necessitatibus, cumque similique commodi molestiae distinctio.</p>

<!-- управление видимостью элемента -->

<p *ngIf="isBorder">1 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam velit adipisci ipsam repudiandae ut doloribus error impedit obcaecati quo dicta?</p>
<p *ngIf="!isBorder">2 Lorem ipsum dolor, sit amet consectetur adipisicing elit. Numquam velit adipisci ipsam repudiandae ut doloribus error impedit obcaecati quo dicta?</p>


<input type="number" [(ngModel)]="choice">

<ul [ngSwitch]="choice">
    <li *ngSwitchCase="1">First choice</li>
    <li *ngSwitchCase="2">Second choice</li>
    <li *ngSwitchCase="3">Third choice</li>
    <li *ngSwitchCase="4">Fourth</li>
    <li *ngSwitchCase="2">Second choice, again</li>
    <li *ngSwitchDefault>Default choice</li>
</ul>

<ul >
    <li *ngFor="let item of classlist; let i='index+1'">{{i}}.{{item}}</li>
</ul>