<div class="container col-10">

<header>
    <h1 class="text-center">{{title}}</h1>
</header>



<!-- https://jsonplaceholder.typicode.com/ -корень -->
<!-- https://jsonplaceholder.typicode.com/todos -маршрут -->
<!-- https://jsonplaceholder.typicode.com/todos/1-параметр(уточнение) -->
<!-- в ahgular можно брать маршрутизацию на себя -->
<!-- на вопрос про routing овечаем yes и создвется самостоятельная маршрутиация (файлы app.routing) -->
<!-- маршруты прописываются в массиве Routes -->


<!-- router-outlet используют для выбора маршрута -->
<!-- то что вне router отображается постоянно, а то что внутри отображается согласно названиям маршрута внутри Routes -->


<nav class="d-flex text-white bg-info">
    <a routerLink="">CarsList</a>
    <a routerLink="/add">AddCar</a>
  
</nav>
<router-outlet>
   
</router-outlet>
</div>

<!-- сщздание файла в data.service npx ng generate service data    -->