<h1>{{ title }}</h1>

<!-- не забывать в app.module.ts в imports прописать FormsModule-->
<input type="text" [(ngModel)]="userNumber">
<button [ngClass]="['btn','btn-success','m-2']" (click)="verify()">Угадать число</button>
<button [ngClass]="['btn','btn-success','m-2']" (click)="reset()">Начать заново</button>


<p [ngClass]="['alert','alert-warning']"  *ngIf="deviation>0">Ваше число меньше задуманного</p>
<p [ngClass]="['alert','alert-warning']" *ngIf="deviation<0 && deviation > -101">Ваше число больше задуманного</p>
<p [ngClass]="['alert','alert-warning']" *ngIf="deviation==0">Вы угадали</p>

<p>Количество попыток - {{countTry}}</p>