<div class="container">

    <div class="spinner-boarder text-primary" *ngIf="isLoading" >
        <span>Loading...</span>
    </div>

    <div *ngIf="!isLoading" class="card mb-3" [ngStyle]="{cursor:'pointer'}">
            <div class="row g-0">
               <div class="col-4">
                 <img [src]="car.pictureUrl" src="" alt="" style="width: 100%" >
               </div>
               <div class="col-6">
                 <div class="card-body">
                     <h5 class="car-tiile">{{car.marka}} {{car.model}}</h5>
                     <p class="card-text">Цвет - {{car.color}}</p>
                     <p class="card-text">Год выпуска - {{car.year}}</p>
                     <button class="btn btn-success text-white mx-2" (click)="editCar()"[disabled]="!isloggedIn"> Редактировать</button>
                     <button class="btn btn-danger text-white mx-2" (click)="deleteCar()" [disabled]="!isloggedIn"> Удалить</button>
                </div>
               </div>
            </div>

    </div>
    <form action="" (submit)="updateCar()" *ngIf="isEdited">
      <div class="form-control">
          <label for="">Введите марку</label>
          <input class="form-control" type="text" [(ngModel)]="car.marka" name="marka">
      </div>
      <div class="form-control">
          <label for="">Введите модель</label>
          <input class="form-control" type="text" [(ngModel)]="car.model" name="model">
      </div>
      <div class="form-control">
          <label for="">Введите цвет</label>
          <input class="form-control" type="text" [(ngModel)]="car.color" name="color">
      </div>
      <div class="form-control">
          <label for="">Введите год выпуска</label>
          <input class="form-control" type="number" [(ngModel)]="car.year" name="year">
      </div>
      <div class="form-control">
          <label for="">Введите адрес картинки</label>
          <input class="form-control" type="text" [(ngModel)]="car.pictureUrl" name="picture">
      </div>
      <button class="btn btn-success my-2" type="submit">Обновить данные</button>
  </form>

</div>
