* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./img/stock-photo-living-room-laptop-table-yellow-sofa-green-parrot-bird-cage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.form {
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
  font-family: sans-serif;
  font-size: 20px;
  background-color: rgba(45, 45, 45, 0.5);
  border-radius: 10px;
}
input {
  padding: 10px;
  background-color: rgba(45, 45, 45, 0);
  outline: none;
  border-bottom: 3px solid #fff;
  text-indent: 10px;
  color: #fff;
  font-size: 20px;
}
::placeholder {
  color: rgb(255, 255, 255, 0.5);
  font-size: 20px;
}
.form__btn {
  padding: 15px 20px;
  background-color: #008081;
  border: 1px solid #086363;
  border-radius: 10px;
  font-family: sans-serif;
  font-size: 20px;
  color: #fff;
}
