*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    border: 0;
    /* width: contant+padding+border+margin; */
    box-sizing: border-box;
    /* margin + остальное */
}
body{
    background-color: #ccc;

}
.wrapper{
    background-color: #fff;
    outline: 1px solid red;
    max-width: 1025px;
    padding: 25px;
    margin: 60px auto;
    /* overflow: hidden; */
}
.box{
    width: 270px;
    height: 270px;
    border: 3px solid green;
    margin: 25px;
    padding: 40px;
    display: inline-block;
}
.box1{
    background-color: #f00;
}
.box2{
    background-color: #0f0;
}
.box3{
    background-color: #00f;
}