@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap');
*,
*::after,
*::before{
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    list-style-type: none;
}
body{
    min-height: 100vh;
    background-color: #fafafa;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(20 / 14 * 100%);
    color: #737373;
}
.container{
    max-width: 1043px;
    margin: 0 auto;
}
/* header */
.header{
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.header__body{
    display: flex;
    align-items: center;
    min-height: 104px;
}
.header__body .nav ul{
    display: flex;
    column-gap: 21px;
    flex-wrap: wrap;
}
.logo{
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    margin: 0 132px 0 0;
}
a{
    font-weight: 600;
    line-height: calc(24 / 14 * 100%);
}
/* firstscreen */
.firstscreen {
    background-image: url(../img/first/background.jpg);
    background-size: cover;
    background-position: 0 bottom;
    background-repeat: no-repeat;
    overflow: hidden;
}
.firstscreen__body {
}
.firstscreen__bodyContainer {
    margin-top: 184px;
    max-width: 395px;
}
.firstscreen__bodyContainer > *:not(:last-child){
    margin-bottom: 35px;
}
.firstscreen__bodyContainerTitle {
    font-weight: 800;
    font-size: 58px;
    line-height: 138%;
    letter-spacing: 0.2px;
    color: #252B42;
}
.firstscreen__bodyContainerText {
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: 0.2px;
}
.firstscreen__bodyContainerBtns {
}
.firstscreen__bodyContainerBtnOrange {
}
.firstscreen__bodyContainerBtn {
}