<h2 class="text-center">Pipes</h2>
<h3>Decimal pipe</h3>
<p>number -{{num}}</p>
<p>PI-{{PI}}</p>
<p>PI-{{PI|number:"1.1-2"}}</p>
<p>PI-{{PI|number:"5.1-2"}}</p>
<!-- количество цифр после запятой -->
<!-- <p>PI-{{PI|number:'5.1-2':'fr'}}</p> -->
<p>number - {{num|percent}}</p>
<!-- умножается на сто и соответствующий процент(если бы num=0.5) -->
<h3>String</h3>
<!-- модификация строк -->
<p>string {{str}}</p>
<p>string {{str|uppercase}}</p>
<p>string {{str|lowercase}}</p>
<p>string {{str|titlecase}}</p>
<h3>Date Pipe</h3>
<!-- модификация даты -->
<p>date - {{date}}</p>
<p>date - {{date|date:"hh:mm:ss"}}</p>
<p>date - {{date|date:"d/M/y"}}</p>
<h3>Currency pipe</h3>
<!-- добавляет валюту -->
<p>currency - {{num*100|currency}}</p>
<p>currency - {{num*100|currency:'EUR'}}</p>


