* {
    box-sizing: border-box;
}

body{
    color: #fff;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    margin: 0;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #28a899;
}

.start{
    font-size: 1.5rem;
}

h2 {
    font-size: 4rem;
}

.screen{
    background: linear-gradient(90deg, #2d2d2d 0%, #485689 100%);
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: margin .5s ease;
}

.screen.up{
    margin-top: -100vh;
}

.time-list,.dif-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    list-style: none;

}

.time-list li, .dif-list li{
    margin: 10px;
}

.time-btn, .dif-btn,.restart{
    background-color: transparent;
    cursor: pointer;
    border: 2px solid #c0c0c0;
    color: #fff;
    padding: 12px 20px;
    font-size: 20px;
}

.time-btn:hover,.dif-btn:hover,.restart:hover{
    border: 2px solid #15cdb8;
    color: #15cdb8;
}


.board{
    display: flex;
    font-size: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 500px;
    overflow: hidden;
    background: linear-gradient(120deg, #293256, #1d291d);
    box-shadow: -8px -8px 20px #363d5c, 10px 6px 20px #283815;
    border-radius: 30px;
    position: relative;
}
.circle{
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
}
.primary{
    color: #15cdb8;
}
.miss{
    color: red;
}
.hide{
    opacity: 0;
}

