body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* новое приложение npx create-react-app <name> */
/* legacy.reactjs.org -сайт на русском */
/* новый react.dev */
/* npmjs.com - все модули например axios */
/* компоненты бывают классовые и функциональные. В функциональном обязателен return  */
/* jsx */

