.btn {
    padding: 20px;
    border: none;
    outline: none;
    background-color: brown;
    color: aliceblue;
    text-transform: uppercase;
    border-radius: 20px;
}

.btn.test {
    color: brown;
    background-color: aliceblue;
    border: 1px solid brown;
}